<dl
  class="grid sm:grid-cols-[max-content_1fr] gap-x-4 gap-y-1 text-sm md:text-xs"
>
  <dd class="font-semibold">Started at</dd>
  <dt class="tabular-nums text-neutral-600 dark:text-neutral-400">
    {{ .StartedAt.Format "2006-01-02" }}
  </dt>
  <dd class="font-semibold">Expected to finish</dd>
  <dt class="tabular-nums text-neutral-600 dark:text-neutral-400">
    {{ .ExpectedFinish.Format "2006-01-02" }} ({{ .DaysLeft }} days)
  </dt>
  <dd class="font-semibold">Page</dd>
  <dt class="tabular-nums text-neutral-600 dark:text-neutral-400">
    {{ .CurrentPage }} / {{ .PageCount }} ({{ .ReadPercentage }}%)
  </dt>
  <dd class="font-semibold">Word count</dd>
  <dt class="tabular-nums text-neutral-600 dark:text-neutral-400">
    {{ .FormattedWordCount }}
  </dt>
  <dd class="font-semibold">Pace</dd>
  <dt class="tabular-nums text-neutral-600 dark:text-neutral-400">
    {{ .FormattedPace }} words per day
  </dt>
  <dd class="font-semibold">Format</dd>
  <dt class="tabular-nums text-neutral-600 dark:text-neutral-400">
    {{ .FormattedBookFormats }}
  </dt>
  <dd class="font-semibold">Release date</dd>
  <dt class="tabular-nums text-neutral-600 dark:text-neutral-400">
    {{ .ReleaseDate.Format "2006-01-02" }}
  </dt>
</dl>
