<div
  class="items-start bg-neutral-200 dark:bg-neutral-800 rounded w-80 snap-center shrink-0"
>
  <div class="py-4 px-6 h-full flex flex-col justify-between gap-y-4">
    <div class="space-y-1">
      <div class="font-bold flex gap-x-2 items-baseline">{{ .Title }}</div>
      {{ if .Series.Valid }}
      <span class="text-xs font-normal text-neutral-600 dark:text-neutral-400">
        {{ .Series.String }} #{{ .OrderInSeries.Float64 }}
      </span>
      {{ end }} {{ if .Subtitle.Valid }}
      <div
        class="text-xs text-neutral-600 dark:text-neutral-400 truncate"
        title="{{ .Subtitle.String }}"
      >
        {{ .Subtitle.String }}
      </div>
      {{ end }}
      <div class="text-sm truncate">{{ .Author }}</div>
    </div>

    <div class="h-0.5 bg-sky-300 dark:bg-sky-900 relative">
      <div
        class="absolute h-0.5 bg-sky-700 dark:bg-sky-500"
        style="width:{{ .ProgressPercent }}%;"
      ></div>
    </div>
  </div>
</div>
