<ol class="space-y-2 sm:space-y-4">
  {{ range .Posts }}
  <li
    class="til-counter grid-post relative grid w-full items-baseline gap-4 sm:inline-flex sm:gap-5"
    data-til="{{ .TILID }}"
  >
    {{ if eq $.Path "stats" }}
    <a href="/stats/{{ .ID }}" hx-swap="innerHTML">{{ .Title }}</a>
    {{ else }}
    <a href="/test/{{ .Slug }}" hx-swap="innerHTML transition:true" style="view-transition-name: title-{{ .TILID }}">{{ .Title }}</a>
    {{ end }}
    <hr
      class="m-0 hidden flex-1 border-dashed border-neutral-300 dark:border-neutral-700 sm:block"
    />
    {{ if eq $.SortOrder "views" }}
    <div
      class="font-mono text-xs tabular-nums text-neutral-500 dark:text-neutral-400"
    >
      {{ .Views }} views
    </div>
    {{ else if eq $.SortOrder "updatedAt" }}
    <time
      class="font-mono text-xs tabular-nums text-neutral-500 dark:text-neutral-400"
      datetime="{{ .UpdatedAt.Format "2006-01-02T15:04:05Z" }}"
    >
      <span class="hidden sm:block">
        {{ .UpdatedAt.Format "2006-01-02 15:04" }}
      </span>
      <span class="block sm:hidden">
        {{ .UpdatedAt.Format "2006-01-02" }}
      </span>
    </time>
    {{ else }}
    <time
      class="font-mono text-xs tabular-nums text-neutral-500 dark:text-neutral-400"
      datetime="{{ .CreatedAt.Format "2006-01-02T15:04:05Z" }}"
    >
      <span class="hidden sm:block">
        {{ .CreatedAt.Format "2006-01-02 15:04" }}
      </span>
      <span class="block sm:hidden">
        {{ .CreatedAt.Format "2006-01-02" }}
      </span>
    </time>
    {{ end }}
  </li>
  {{ end }}
</ol>

