<li
  class="grid grid-cols-1 sm:grid-cols-[200px_1fr] items-start bg-neutral-200 dark:bg-neutral-800 rounded group"
>
  <div class="flex items-center justify-center h-full">
    <img
      src="{{ .CoverURL }}"
      alt="{{ .Title }}"
      class="hidden sm:block sm:h-full sm:w-full saturate-0 group-hover:saturate-100 transition-all duration-300 object-fit rounded-l"
    />
  </div>

  <div class="space-y-4 py-4 px-6">
    <div
      class="flex justify-between items-center mb-4 pb-4 border-b border-neutral-300 dark:border-neutral-700 gap-x-8"
    >
      <div class="space-y-0.5">
        <div class="font-bold flex gap-x-2 items-baseline text-balance">
          {{ .Title }}
        </div>
        {{ if .Subtitle.Valid }}
        <div
          class="text-xs text-neutral-600 dark:text-neutral-400 text-balance"
        >
          {{ .Subtitle.String }}
        </div>
        {{ end }} {{ if .Series.Valid }}
        <div class="text-xs text-neutral-600 dark:text-neutral-400">
          {{ .Series.String }} #{{ .OrderInSeries.Float64 }}
        </div>
        {{ end }}
        <div class="text-sm">{{ .Author }}</div>
      </div>
    </div>

    <dl
      class="grid sm:grid-cols-[max-content_1fr] gap-x-4 gap-y-1 text-sm md:text-xs"
    >
      {{ if .Started }}
      <dd class="font-semibold">Started at</dd>
      <dt class="tabular-nums text-neutral-600 dark:text-neutral-400">
        {{ .StartedAt.Time.Format "2006-01-02" }}
      </dt>
      {{ end }} {{ if .Finished }}
      <dd class="font-semibold">Finished at</dd>
      <dt class="tabular-nums text-neutral-600 dark:text-neutral-400">
        {{ .FinishedAt.Time.Format "2006-01-02" }} ({{ .DaysElapsed }} days)
      </dt>
      {{ end }}
      <dd class="font-semibold">Word count</dd>
      <dt class="tabular-nums text-neutral-600 dark:text-neutral-400">
        {{ .FormattedWordCount }}
      </dt>
      <dd class="font-semibold">Pace</dd>
      <dt class="tabular-nums text-neutral-600 dark:text-neutral-400">
        {{ .FormattedPace }} words per day
      </dt>
      {{ if .Rating.Valid }}
      <dd class="font-semibold">Rating</dd>
      <dt class="tabular-nums text-neutral-600 dark:text-neutral-400">
        {{ .Rating.Int32 }} / 10
      </dt>
      {{ end }}
      <dd class="font-semibold">Format</dd>
      <dt class="tabular-nums text-neutral-600 dark:text-neutral-400">
        {{ .FormattedBookFormats }}
      </dt>
      <dd class="font-semibold">Release date</dd>
      <dt class="tabular-nums text-neutral-600 dark:text-neutral-400">
        {{ .ReleaseDate.Format "2006-01-02" }}
      </dt>
    </dl>
  </div>
</li>
