<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {{ if .Metadata.Title }}
    <title>{{ .Metadata.Title }}</title>
    {{else}}
    <title>Rickard Natt och Dag</title>
    {{ end }} {{ if .Metadata.Excerpt }}
    <meta name="description" content="{{ .Metadata.Excerpt }}" />
    {{ else }}
    <meta
      name="description"
      content="I am a developer from Sweden. I enjoy making user-friendly websites and creating tools that make life easier for other developers."
    />
    {{ end }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/styles.2421a4.css" rel="stylesheet" />
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon" />
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for willcodefor.beer" href="/feed.xml" />
    <script defer src="/public/htmx.2.0.0.min.js"></script>
    <script defer src="/public/htmx.head-support.js"></script>
    {{ if eq .Path "/stats" }}
    <script defer src="/public/hyperscript.0.9.12.min.js"></script>
    {{end}}
    <script async src="/public/command-menu.4e6ce0.js"></script>
    {{ if .Metadata }}
    <meta property="og:title" content="{{ .Metadata.Title }}" />
    <meta property="og:type" content="article" />
    <meta
      property="og:url"
      content="https://willcodefor.beer/{{ .Metadata.Slug }}"
    />
    <meta
      property="og:image"
      content="https://willcodefor.beer/public/ogimage.png"
    />
    <meta property="og:description" content="{{ .Metadata.Excerpt }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@rnattochdag" />
    <meta name="twitter:creator" content="@rnattochdag" />
    {{ end }}
  </head>
  <body
    class="bg-neutral-100 text-neutral-700 dark:bg-neutral-900 dark:text-neutral-300"
    hx-boost="true"
    hx-ext="head-support"
  >
    <main class="grid py-5 grid-template-main">
      <div
        class="col-start-3 col-end-4 flex gap-8 items-center border-b border-neutral-300 pb-8 md:justify-end md:border-0 md:pb-0 dark:border-neutral-700"
      >
      <a class="font-bold focus-visible:outline-dashed focus-visible:outline-offset-2 focus:outline-neutral-700 dark:focus:outline-neutral-600 {{ if eq .Path "/"}} text-neutral-700 dark:text-neutral-300 border-neutral-700 dark:border-neutral-300{{end}}" href="/">Home</a>
      <a class="font-bold focus-visible:outline-dashed focus-visible:outline-offset-2 focus:outline-neutral-700 dark:focus:outline-neutral-600 {{ if eq .Path "/posts"}} text-neutral-700 dark:text-neutral-300 border-neutral-700 dark:border-neutral-300{{end}}" href="/posts">
          Writing
        </a>
      <a class="font-bold focus-visible:outline-dashed focus-visible:outline-offset-2 focus:outline-neutral-700 dark:focus:outline-neutral-600 {{ if eq .Path "/books"}} text-neutral-700 dark:text-neutral-300 border-neutral-700 dark:border-neutral-300{{end}}" href="/books">
          Reading
        </a>
      </div>
      <div class="col-start-3 col-end-4 my-10 md:my-12">{{embed}}</div>
    </main>
    <dialog data-command-menu hx-get="/command-menu" hx-trigger="keydown[metaKey && key == 'k'] from:body once"></dialog>
  </body>
</html>
