<div class="mx-auto max-w-xl space-y-8">
  <p>
    I like reading books, but usually it only happens before going to bed. I'm
    also a competitive person. So, to motivate me to read more, I'm going to
    post the books here. Sort of like <a href="/lip">learning in public</a>, but
    for reading. With
    <a rel="noopener noreferrer" target="_blank" href="https://wordcounters.com"
      >estimated word counts</a
    >
    I can also satisfy my love for stats. Covers are from
    <a rel="noopener noreferrer" target="_blank" href="https://openlibrary.org"
      >Open Library</a
    >.
  </p>

  <div
    class="text-center text-5xl md:text-4xl font-bold flex flex-col md:flex-row justify-evenly gap-4"
  >
    <div>
      <span>{{ .TotalWords }}</span>
      <div
        class="mt-2 text-sm font-normal uppercase text-neutral-600 dark:text-neutral-700"
      >
        Total words
      </div>
    </div>
    <div>
      <span>{{ .WordsPerDay }}</span>
      <div
        class="mt-2 text-sm font-normal uppercase text-neutral-600 dark:text-neutral-700"
      >
        Words per day
      </div>
    </div>
    <div>
      <span>{{ .BooksRead }}</span>
      <div
        class="mt-2 text-sm font-normal uppercase text-neutral-600 dark:text-neutral-700"
      >
        Books read
      </div>
    </div>
  </div>

  {{ range .CurrentBooks }}
  <div
    class="rounded-md p-px bg-gradient-to-br from-sky-200 to-sky-400 dark:from-sky-400 dark:to-sky-900"
  >
    <div
      class="grid grid-cols-1 sm:grid-cols-[130px_1fr] sm:gap-6 items-start p-4 bg-sky-100 dark:bg-sky-950 rounded-[calc(0.375rem-1px)]"
    >
      <div class="flex items-center justify-center mt-1">
        <img
          src="{{ .CoverURL }}"
          alt="{{ .Title }}"
          class="hidden sm:block sm:w-full rounded-sm"
        />
      </div>
      <div class="space-y-4">
        <div class="space-y-1">
          <div class="font-bold flex gap-x-2 items-baseline">
            <span>{{ .Title }}</span> {{ if .Series.Valid }}
            <span class="text-xs font-normal text-sky-600 dark:text-sky-200">
              {{ .Series.String }} #{{ .OrderInSeries.Float64 }}
            </span>
            {{ end }}
          </div>
          {{ if .Subtitle.Valid }}
          <div class="text-xs text-sky-600 dark:text-sky-200 text-balance">
            {{ .Subtitle.String }}
          </div>
          {{ end }}
          <div class="text-sm">{{ .Author }}</div>
        </div>

        <div class="h-[1px] bg-sky-300 dark:bg-sky-900 relative">
          <div
            class="absolute h-[1px] bg-sky-700 dark:bg-sky-500"
            style="width:{{ .ProgressPercent }}%;"
          ></div>
        </div>

        <dl
          class="grid sm:grid-cols-[max-content_1fr] gap-x-4 gap-y-1 text-sm md:text-xs"
        >
          <dd class="font-semibold">Started at</dd>
          <dt class="tabular-nums text-sky-600 dark:text-sky-200">
            {{ .StartedAt.Format "2006-01-02" }}
          </dt>
          <dd class="font-semibold">Expected to finish</dd>
          <dt class="tabular-nums text-sky-600 dark:text-sky-200">
            {{ .ExpectedFinish.Format "2006-01-02" }} ({{ .DaysLeft }} days)
          </dt>
          <dd class="font-semibold">Page</dd>
          <dt class="tabular-nums text-sky-600 dark:text-sky-200">
            {{ .CurrentPage }} / {{ .PageCount }}
          </dt>
          <dd class="font-semibold">Word count</dd>
          <dt class="tabular-nums text-sky-600 dark:text-sky-200">
            {{ .WordCount }}
          </dt>
          <dd class="font-semibold">Pace</dd>
          <dt class="tabular-nums text-sky-600 dark:text-sky-200">
            {{ .Pace }} words per day
          </dt>
        </dl>
      </div>
    </div>
  </div>
  {{ end }}

  <ol class="space-y-4">
    {{ range .Books }}
    <li
      class="grid grid-cols-1 sm:grid-cols-[130px_1fr] sm:gap-6 items-start p-4 bg-neutral-200 dark:bg-neutral-800 rounded group"
    >
      <div class="flex items-center justify-center mt-1">
        <img
          src="{{ .CoverURL }}"
          alt="{{ .Title }}"
          class="hidden rounded-sm sm:block sm:w-full saturate-0 group-hover:saturate-100 transition"
        />
      </div>
      <div>
        <div
          class="flex justify-between items-center mb-4 pb-4 border-b border-neutral-300 dark:border-neutral-700 gap-x-8"
        >
          <div class="space-y-0.5">
            <div class="font-bold flex gap-x-2 items-baseline">
              <span>{{ .Title }}</span> {{ if .Series.Valid }}
              <span
                class="text-xs font-normal text-neutral-600 dark:text-neutral-400"
              >
                {{ .Series.String }} #{{ .OrderInSeries.Float64 }}
              </span>
              {{ end }}
            </div>
            {{ if .Subtitle.Valid }}
            <div
              class="text-xs text-neutral-600 dark:text-neutral-400 text-balance"
            >
              {{ .Subtitle.String }}
            </div>
            {{ end }}
            <div class="text-sm">{{ .Author }}</div>
          </div>
        </div>

        <dl
          class="grid sm:grid-cols-[max-content_1fr] gap-x-4 gap-y-1 text-sm md:text-xs"
        >
          <dd class="font-semibold">Started at</dd>
          <dt class="tabular-nums text-neutral-600 dark:text-neutral-400">
            {{ .StartedAt.Format "2006-01-02" }}
          </dt>
          {{ if .Finished }}
          <dd class="font-semibold">Finished at</dd>
          <dt class="tabular-nums text-neutral-600 dark:text-neutral-400">
            {{ .FinishedAt.Time.Format "2006-01-02" }} ({{ .DaysElapsed }} days)
          </dt>
          {{ end }}
          <dd class="font-semibold">Word count</dd>
          <dt class="tabular-nums text-neutral-600 dark:text-neutral-400">
            {{ .WordCount }}
          </dt>
          <dd class="font-semibold">Pace</dd>
          <dt class="tabular-nums text-neutral-600 dark:text-neutral-400">
            {{ .Pace }} words per day
          </dt>
          {{ if .Rating.Valid }}
          <dd class="font-semibold">Rating</dd>
          <dt class="tabular-nums text-neutral-600 dark:text-neutral-400">
            {{ .Rating.Int32 }} / 10
          </dt>
          {{ end }}
        </dl>
      </div>
    </li>
    {{ end }}
  </ol>
</div>
