<div class="mx-auto max-w-xl space-y-12">
  <div class="space-y-8">
    <p>
      I like reading books, but usually it only happens before going to bed. I'm
      also a competitive person. So, to motivate me to read more, I'm going to
      post the books here. Sort of like <a href="/lip">learning in public</a>,
      but for reading. With
      <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://wordcounters.com"
        >estimated word counts</a
      >
      I can also satisfy my love for stats.
    </p>

    <div
      class="text-center text-5xl md:text-4xl font-bold flex flex-col md:flex-row justify-evenly gap-4"
    >
      <div>
        <span>{{ .FormattedTotalWords }}</span>
        <div
          class="mt-2 text-sm font-normal uppercase text-neutral-600 dark:text-neutral-700"
        >
          Total words
        </div>
      </div>
      <div>
        <span>{{ .FormattedWordsPerDay }}</span>
        <div
          class="mt-2 text-sm font-normal uppercase text-neutral-600 dark:text-neutral-700"
        >
          Words per day
        </div>
      </div>
      <div>
        <span>{{ .BooksRead }}</span>
        <div
          class="mt-2 text-sm font-normal uppercase text-neutral-600 dark:text-neutral-700"
        >
          Books read
        </div>
      </div>
    </div>

    <div
      class="h-3 relative bg-neutral-200 dark:bg-neutral-800 rounded-full overflow-hidden"
      title="{{ .BooksRead }} books read out of the goal of 20 this year"
    >
      <div
        class="bg-gradient-to-r from-sky-300 to-sky-500 dark:from-sky-500 dark:to-sky-700 absolute left-0.5 top-1/2 -translate-y-1/2 h-2 rounded-full"
        style="width: {{ .YearlyProgress }}%"
      ></div>
    </div>

    <ol class="flex gap-x-4">
      {{ range .Years }}
        <li>
            <a
              class="
                {{ if eq $.SelectedYear . }}
                  text-neutral-800 dark:text-neutral-300
                {{ end }}
              "
              href="/books/?year={{.}}">{{.}}</a>
        </li>
      {{ end }}
    </ol>
  </div>


  {{ if .HasCurrentBooks }}
  <div>
    <h2 class="text-xl font-semibold">Currently reading</h2>
    <ol class="space-y-4">
      {{ range .CurrentBooks }} {{ template "partials/currentBook" . }} {{ end
      }}
    </ol>
  </div>
  {{ end }} {{ if .HasNextBooks }}
  <div>
    <h2 class="text-xl font-semibold">Next up</h2>
    <ol class="space-y-4">
      {{ range .NextBooks }} {{ template "partials/nextBooks" . }} {{ end }}
    </ol>
  </div>
  {{ end }} {{ if .HasPreviousBooks }}
  <div>
    <h2 class="text-xl font-semibold">Previously read</h2>
    <ol class="space-y-4">
      {{ range .Books }} {{ template "partials/previousBook" . }} {{ end }}
    </ol>
  </div>
  {{ end }}
</div>
