{{ block "separator" . }}
<span
  class="w-full flex-shrink border-t border-dashed border-neutral-300 dark:border-neutral-700"
></span>
{{ end }}

<section class="grid grid-cols-12 gap-6">
  <div class="col-span-12 md:col-start-3 md:col-end-13">
    <header class="text-2xl font-light">
      <h1 class="mb-5 text-4xl font-bold md:text-5xl">Rickard Natt och Dag</h1>
      <p>
        Hej! I'm a developer from Sweden. I enjoy making user-friendly websites
        and creating tools that make life easier for other developers. I
        currently love working with
        <a href="https://htmx.org/" target="_blank" rel="noopener noreferrer"
          >htmx</a
        >
        and
        <a href="https://go.dev/" target="_blank" rel="noopener noreferrer"
          >Go<span class="sr-only"> (The programming langauge)</span></a
        >.
      </p>
    </header>
    <section class="mt-10 flex items-center space-x-6">
      <a
        class="flex items-center focus:outline-none rounded bg-neutral-100 p-2 text-neutral-700 ring-1 ring-transparent ring-offset-transparent transition-all hover:ring-2 hover:ring-neutral-200 hover:ring-offset-2 dark:bg-neutral-700 dark:hover:ring-neutral-700 motion-reduce:transition-none hover:text-white dark:text-white focus:ring-2 focus:ring-offset-2 focus:ring-neutral-200 dark:focus:ring-neutral-700 hover:bg-github focus:bg-github border-none"
        href="https://github.com/believer"
        aria-label="GitHub profile"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          class="h-6 w-6 fill-current"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>GitHub</title>
          <path
            d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
          />
        </svg>
      </a>

      <a
        class="flex items-center focus:outline-none rounded bg-neutral-100 p-2 text-neutral-700 ring-1 ring-transparent ring-offset-transparent transition-all hover:ring-2 hover:ring-neutral-200 hover:ring-offset-2 dark:bg-neutral-700 dark:hover:ring-neutral-700 motion-reduce:transition-none hover:text-white dark:text-white focus:ring-2 focus:ring-offset-2 focus:ring-neutral-200 dark:focus:ring-neutral-700 hover:bg-black focus:bg-black border-none"
        href="https://x.com/rnattochdag"
        aria-label="X profile"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 fill-current"
          width="2500"
          height="2260"
          fill="none"
          viewBox="0.254 0.25 500 451.954"
        >
          <title>X</title>
          <path
            d="M394.033.25h76.67L303.202 191.693l197.052 260.511h-154.29L225.118 294.205 86.844 452.204H10.127l179.16-204.77L.254.25H158.46l109.234 144.417zm-26.908 406.063h42.483L135.377 43.73h-45.59z"
          />
        </svg>
      </a>
    </section>
  </div>
</section>

<section class="mt-10 grid gap-6 md:grid-cols-12">
  <header
    class="col-span-12 text-neutral-600 dark:text-neutral-400 md:col-span-2 md:text-right"
  >
    Latest TIL
  </header>

  <div class="col-span-12 md:col-span-10 space-y-8">
    <section class="space-y-4">
      <p class="mt-0">
        Today I Learned (TIL) are interesting things I've found on the web,
        ideas, thoughts, and reminders regarding software development. I see it
        as a second brain for all things related to development and a way for me
        to practice
        <a href="/posts/learning-in-public">Learning in public</a>.
      </p>

      <p>
        This is heavily inspired by Lee Byron's
        <a
          href="https://leebyron.com/til"
          target="_blank"
          rel="noopener noreferrer"
          >TIL</a
        >
        and builds on top of my initial attempt with my
        <a href="https://devlog.willcodefor.beer">Devlog</a>.
      </p>
    </section>

    {{ template "partials/postList" . }}

    <div class="mt-4 flex gap-4 justify-end">
      <a href="/stats" hx-boost="false">Stats</a>
      <a href="feed.xml" hx-boost="false">Feed</a>
    </div>
  </div>
</section>

<section class="mt-10 grid gap-6 md:grid-cols-12">
  <header
    class="col-span-12 text-neutral-600 dark:text-neutral-400 md:col-span-2 md:text-right"
  >
    Currently reading
  </header>

  <div class="col-span-12 md:col-span-10">
    <div
      class="snap-mandatory snap-x flex flex-col sm:flex-row gap-6 w-full overflow-x-auto pb-4 [scrollbar-color:theme(colors.sky.600)_transparent]"
    >
      {{ range .Books }} {{ template "partials/currentBookMini" . }} {{ end }}
      <div class="snap-center shrink-0 hidden sm:block">
        <div class="shrink-0 w-4 sm:w-40"></div>
      </div>
    </div>

    <div class="flex justify-end">
      <a href="/books" hx-boost="false">All books</a>
    </div>
  </div>
</section>

<section class="mt-10 grid grid-cols-1 gap-6 md:grid-cols-12">
  <header
    class="col-span-12 text-neutral-600 dark:text-neutral-400 md:col-span-2 md:text-right"
  >
    Work
  </header>
  <div class="col-span-12 space-y-2 md:col-span-10">
    {{ range .Work }}
    <details>
      <summary class="group mb-2 flex cursor-pointer items-baseline space-x-4">
        <span
          class="flex-none font-medium group-hover:text-sky-700 group-hover:underline dark:group-hover:text-sky-500"
        >
          {{ .Company }}
        </span>
        {{ template "separator" }}
        <span class="flex-none text-neutral-600 dark:text-neutral-400">
          {{ .Title }}
        </span>
        <span
          class="flex-none font-mono text-xs tabular-nums text-neutral-500 dark:text-neutral-400"
        >
          <time datetime="{{ .StartDate }}">{{ .StartDate }}</time>-{{ if
          .EndDate }}<time datetime="{{ .EndDate }}">{{ .EndDate }}</time>{{
          else }}<span>&nbsp;&nbsp;</span>{{ end }}
        </span>
      </summary>
      <div class="mb-8 text-sm space-y-2">
        <div class="space-y-2">{{ unescape .Description }}</div>
        {{ if .Link }}
        <a class="inline-block" href="{{ .Link }}">{{ .LinkDescription }}</a>
        {{ end }}
      </div>
    </details>
    {{ end }}
  </div>
</section>

<section class="mt-10 grid grid-cols-1 gap-6 md:grid-cols-12">
  <header
    class="col-span-12 text-neutral-600 dark:text-neutral-400 md:col-span-2 md:text-right"
  >
    Projects
  </header>
  <div class="col-span-12 space-y-2 md:col-span-10">
    {{ range .Projects }}
    <details>
      <summary class="group mb-2 flex cursor-pointer items-baseline space-x-4">
        <span
          class="flex-none font-medium group-hover:text-sky-700 group-hover:underline dark:group-hover:text-sky-500"
        >
          {{ .Name }}
        </span>
        {{ template "separator" }}
      </summary>
      <div class="mb-8 text-sm">
        <div class="flex-1 space-y-2">
          <div class="flex gap-x-2">
            {{ range .Tech }}
            <div class="text-xs text-neutral-600 dark:text-neutral-400">
              {{ . }}
            </div>
            {{ end}}
          </div>
          <div class="space-y-2">{{ unescape .Description }}</div>
        </div>
        <div class="mt-4 flex flex-wrap"></div>
        <a
          href="{{ .Link }}"
          aria-label="Source code for {{ .Name }} on GitHub"
          target="_blank"
          rel="noopener noreferrer"
        >
          Link
        </a>
      </div>
    </details>
    {{ end }}
  </div>
</section>
