<section class="grid grid-cols-12 gap-6">
  <div class="col-span-12 md:col-start-3 md:col-end-13">
    <header class="text-2xl font-light">
      <h1 class="mb-5 text-4xl font-bold md:text-5xl">Rickard Natt och Dag</h1>
      Hej! I'm a developer from Sweden. I enjoy making user-friendly websites
      and creating tools that make life easier for other developers. I currently
      love working with
      <a href="https://htmx.org/" target="_blank" rel="noopener noreferrer"
        >htmx</a
      >,
      <a
        href="https://go.dev/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="The programming language Go"
        >Go</a
      >, and
      <a
        href="https://www.rust-lang.org/"
        target="_blank"
        rel="noopener noreferrer"
        >Rust</a
      >.
    </header>
    <section class="mt-10 flex items-center space-x-6">
      <GitHub />
      <Twitter />
    </section>
  </div>
</section>

<section class="mt-10 grid gap-6 md:grid-cols-12">
  <header
    class="col-span-12 text-gray-600 dark:text-gray-400 md:col-span-2 md:text-right"
  >
    Latest TIL
  </header>

  <div class="col-span-12 md:col-span-10">
    <p class="mt-0">
      Today I Learned (TIL) are interesting things I've found on the web, ideas,
      thoughts, and reminders regarding software development. I see it as a
      second brain for all things related to development and a way for me to
      practice
      <a href="/posts/learning-in-public">Learning in public</a>.
    </p>

    <p>
      This is heavily inspired by Lee Byron's
      <a
        href="https://leebyron.com/til"
        target="_blank"
        rel="noopener noreferrer"
        >TIL</a
      >
      and builds on top of my initial attempt with my
      <a href="https://devlog.willcodefor.beer">Devlog</a>.
    </p>

    {{ template "partials/postList" . }}

    <div class="mt-4 flex gap-4 justify-end">
      <a href="/stats" hx-boost="false">Stats</a>
      <a href="feed.xml" hx-boost="false">Feed</a>
    </div>
  </div>
</section>

<section class="mt-10 grid grid-cols-1 gap-6 md:grid-cols-12">
  <header
    class="col-span-12 text-gray-600 dark:text-gray-400 md:col-span-2 md:text-right"
  >
    Work
  </header>
  <div class="col-span-12 space-y-2 md:col-span-10">
    {{ range .Work }}
    <details>
      <summary
        class="group mb-2 flex cursor-pointer items-baseline space-x-4 text-gray-800 dark:text-gray-400"
      >
        <span
          class="flex-none font-medium group-hover:text-brandBlue-600 group-hover:underline dark:group-hover:text-tokyoNight-blue"
        >
          {{ .Company }}
        </span>
        <span
          class="w-full flex-shrink border-t border-dashed border-gray-300 dark:border-gray-500"
        ></span>
        <span class="flex-none text-gray-600 dark:text-gray-400">
          {{ .Title }}
        </span>
        <span
          class="flex-none font-mono text-xs tabular-nums text-gray-500 dark:text-gray-400"
        >
          <time datetime="{{ .StartDate }}">{{ .StartDate }}</time>-{{ if
          .EndDate }}<time datetime="{{ .EndDate }}">{{ .EndDate }}</time>{{
          else }}<span>&nbsp;&nbsp;</span>{{ end }}
        </span>
      </summary>
      <div class="mb-8 text-sm">
        {{ unescape .Description }} {{ if .Link }}
        <a class="inline-block" href="{{ .Link }}">{{ .LinkDescription }}</a>
        {{ end }}
      </div>
    </details>
    {{ end }}
  </div>
</section>

<section class="mt-10 grid grid-cols-1 gap-6 md:grid-cols-12">
  <header
    class="col-span-12 text-gray-600 dark:text-gray-400 md:col-span-2 md:text-right"
  >
    Projects
  </header>
  <div class="col-span-12 space-y-2 md:col-span-10">
    {{ range .Projects }}
    <details>
      <summary
        class="group mb-2 flex cursor-pointer items-baseline space-x-4 text-gray-800 dark:text-gray-400"
      >
        <span
          class="flex-none font-medium group-hover:text-brandBlue-600 group-hover:underline dark:group-hover:text-tokyoNight-blue"
        >
          {{ .Name }}
        </span>
        <span
          class="w-full flex-shrink border-t border-dashed border-gray-300 dark:border-gray-500"
        ></span>
      </summary>
      <div class="mb-8 text-sm">
        <div class="flex items-center">
          <div class="mr-5 flex-1">
            <div class="mb-2 flex space-x-2">
              {{ range .Tech }}
              <div class="text-xs text-gray-600 dark:text-gray-400">
                {{ . }}
              </div>
              {{ end}}
            </div>
            {{ unescape .Description }}
          </div>
        </div>
        <div class="mt-4 flex flex-wrap"></div>
        <a
          href="{{ .Link }}"
          aria-label="Source code for {{ .Name }} on GitHub"
          target="_blank"
          rel="noopener noreferrer"
        >
          Link
        </a>
      </div>
    </details>
    {{ end }}
  </div>
</section>
