<section class="mx-auto max-w-prose">
  <article class="prose dark:prose-invert dark:prose-dark">
    <h1 class="mb-5 flex text-2xl">
      <span class="not-prose font-medium">
        <a href="/posts">til</a>
      </span>
      <span class="mx-1 font-normal text-gray-400">/</span>
      <span style="view-transition-name: title-{{ .Post.TILID }}">{{ .Post.Title }}</span>
    </h1>
    <div id="body">{{ unescape .Post.Body }}</div>
  </article>
  {{ if .Post.Series }}
  <div
    hx-get="/series/{{ .Post.Series }}?slug={{ .Post.Slug }}"
    hx-trigger="load"
    hx-swap="outerHTML"
  ></div>
  {{ end }}
  <hr />
  <ul
    class="flex flex-col items-center justify-between gap-5 space-y-3 text-sm sm:flex-row sm:space-y-0"
  >
    <li
      class="h-5"
      hx-get="/posts/{{ .Post.ID }}/next"
      hx-trigger="revealed"
      hx-swap="outerHTML"
    >
      <div class="htmx-indicator">Loading next post...</div>
    </li>
    <li
      class="h-5"
      hx-get="/posts/{{ .Post.ID }}/previous"
      hx-trigger="revealed"
      hx-swap="outerHTML"
    >
      <div class="htmx-indicator">Loading previous post...</div>
    </li>
  </ul>
  <footer class="mt-8 text-center text-xs text-gray-600">
    This til was created
    <time class="font-semibold" datetime="{{ .Post.CreatedAt.Format "2006-01-02T15:04:05Z" }}">
      {{ .Post.CreatedAt.Format "2006-01-02 15:04" }}
    </time>
    {{ if ne .Post.CreatedAt .Post.UpdatedAt }}
    <span>
      and last modified
      <time class="font-semibold" datetime="{{ .Post.UpdatedAt.Format "2006-01-02T15:04:05Z" }}"
        >{{ .Post.UpdatedAt.Format "2006-01-02 15:04" }}</time
      ></span
    >{{ end }}. It has been viewed
    <span
      hx-post="/posts/{{ .Post.ID }}/stats"
      hx-trigger="intersect"
      hx-swap="outerHTML"
    >
      0
    </span>
    times. CC BY-NC-SA 4.0 2023-PRESENT © Rickard Natt och Dag
  </footer>
</section>
