<section class="mx-auto max-w-prose">
  <article class="prose dark:prose-invert prose-neutral prose-hr:my-5 prose-a:no-underline prose-a:border-b prose-a:text-neutral-700 dark:prose-a:text-neutral-300 prose-a:border-sky-700 dark:prose-a:border-sky-500 hover:prose-a:text-sky-700 dark:hover:prose-a:text-sky-500 prose-a:transition-colors focus:prose-a:outline-offset-2 dark:focus:prose-a:outline-neutral-600 focus:prose-a:outline-dashed focus:prose-a:text-sky-700 dark:focus:prose-a:text-sky-500 text-pretty">
    <h1 class="mb-5 flex text-2xl">
      <span class="not-prose font-medium">
        <a class="focus-visible:outline-dashed focus-visible:outline-offset-2 focus:outline-neutral-700 dark:focus:outline-neutral-600" href="/posts">til</a>
      </span>
      <span class="mx-1 font-normal text-neutral-400 dark:text-neutral-600">/</span>
      <span style="view-transition-name: title-{{ .Post.TILID }}">{{ .Post.Title }}</span>
    </h1>
    <div id="body">{{ unescape .Post.BodyAsHTML }}</div>
  </article>
  {{ if .Post.Series }}
  <div
    hx-get="/series/{{ .Post.Series }}?slug={{ .Post.Slug }}"
    hx-trigger="load"
    hx-swap="outerHTML"
  ></div>
  {{ end }}
  <hr />
  <ul
    class="flex flex-col items-center justify-between gap-5 space-y-3 text-sm sm:flex-row sm:space-y-0"
  >
    <li
      class="h-5"
      hx-get="/posts/{{ .Post.ID }}/next"
      hx-trigger="load"
      hx-swap="outerHTML"
    >
      <div class="htmx-indicator">Loading next post...</div>
    </li>
    <li
      class="h-5"
      hx-get="/posts/{{ .Post.ID }}/previous"
      hx-trigger="load"
      hx-swap="outerHTML"
    >
      <div class="htmx-indicator">Loading previous post...</div>
    </li>
  </ul>
  <footer class="mt-8 text-center text-xs text-neutral-600 dark:text-neutral-500">
    This post was created
    <time class="font-semibold" datetime="{{ .Post.CreatedAt.Format "2006-01-02T15:04:05Z" }}">
      {{ .Post.CreatedAt.Format "2006-01-02 15:04" }}
    </time>
    {{ if ne .Post.CreatedAt .Post.UpdatedAt }}
    <span>
      and last modified
      <time class="font-semibold" datetime="{{ .Post.UpdatedAt.Format "2006-01-02T15:04:05Z" }}"
        >{{ .Post.UpdatedAt.Format "2006-01-02 15:04" }}</time
      ></span
    >{{ end }}. It has been viewed
    <span
      hx-post="/posts/{{ .Post.ID }}/stats"
      hx-trigger="intersect"
      hx-swap="outerHTML"
    >
      0
    </span>
      times.
  </footer>
</section>
