<div class="flex gap-4 items-center justify-center">
  <a
    href="/stats?time=today"
    class="px-4 py-2 rounded-md no-underline{{ if eq .Time "today" }} text-blue-900 bg-blue-800 dark:bg-blue-300{{ else }} bg-gray-200 text-gray-800 dark:bg-gray-800 dark:text-gray-300{{ end }}"
    >Today</a>
  <a
    href="/stats?time=week"
    class="px-4 py-2 rounded-md no-underline{{ if eq .Time "week" }} text-blue-900 bg-blue-800 dark:bg-blue-300{{ else }} bg-gray-200 text-gray-800 dark:bg-gray-800 dark:text-gray-300{{ end }}"
    >Week</a>
  <a
    href="/stats?time=thirty-days"
    class="px-4 py-2 rounded-md no-underline{{ if eq .Time "thirty-days" }} text-blue-900 bg-blue-800 dark:bg-blue-300{{ else }} bg-gray-200 text-gray-800 dark:bg-gray-800 dark:text-gray-300{{ end }}"
    >30 days</a>
  <a
    href="/stats?time=this-year"
    class="px-4 py-2 rounded-md no-underline{{ if eq .Time "this-year" }} text-blue-900 bg-blue-800 dark:bg-blue-300{{ else }} bg-gray-200 text-gray-800 dark:bg-gray-800 dark:text-gray-300{{ end }}"
    >This year</a>
  <a
    href="/stats?time=cumulative"
    class="px-4 py-2 rounded-md no-underline{{ if eq .Time "cumulative" }} text-blue-900 bg-blue-800 dark:bg-blue-300{{ else }} bg-gray-200 text-gray-800 dark:bg-gray-800 dark:text-gray-300{{ end }}"
    >Cumulative</a>
</div>

<hr class="my-8" />

<div class="mb-10 grid grid-cols-1 gap-8 sm:grid-cols-2 items-start">
  <div class="text-center text-8xl font-bold space-y-8">
    <div>
      <span hx-get="/stats/total-views?time={{ .Time }}" hx-trigger="load">
        {{ .Count }}</span
      >
      <div
        class="mt-2 text-sm font-normal uppercase text-gray-600 dark:text-gray-700"
      >
        Total views
      </div>
    </div>
    <div>
      {{ .ViewsPerDay }}
      <div
        class="mt-2 text-sm font-normal uppercase text-gray-600 dark:text-gray-700"
      >
        Views per day (average)
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-y-4">
    <div>
      <h3 class="mb-2 font-semibold uppercase text-gray-500">Browsers</h3>
      <div hx-get="/stats/browsers?time={{ .Time }}" hx-trigger="load"></div>
    </div>

    <div>
      <h3 class="mb-2 font-semibold uppercase text-gray-500">OS</h3>
      <div hx-get="/stats/os?time={{ .Time }}" hx-trigger="load"></div>
    </div>

    <div class="text-xs text-gray-700 text-right">
      User agents with less than 1% of total are omitted ({{ .LessThanOnePercent
      }} views)<br />
      Also, {{ .Bots}} bots are not included.
    </div>
  </div>
</div>

<div class="mb-10" hx-preserve id="total-views">
  <h3 class="mb-4 font-semibold uppercase text-gray-500">Most viewed</h3>
  <div hx-trigger="load" hx-get="/stats/most-viewed"></div>
</div>

<div class="mb-10" hx-preserve id="most-viewed-today">
  <h3 class="mb-4 font-semibold uppercase text-gray-500">Most viewed today</h3>
  <div
    hx-trigger="load"
    hx-get="/stats/most-viewed-today"
    hx-swap="outerHTML"
  ></div>
</div>
