<div class="flex gap-4 items-center justify-center flex-wrap">
  <button
    class="text-sm px-4 py-2 rounded-md no-underline"
    data-time="today"
    onclick="updateTime('today')">
    Today
  </button>

  <button
    class="text-sm px-4 py-2 rounded-md no-underline{{ if eq .Time "week" }} text-blue-900 bg-blue-800 dark:bg-blue-300{{ else }} bg-gray-200 text-gray-800 dark:bg-gray-800 dark:text-gray-300{{ end }}"
    data-time="week"
    onclick="updateTime('week')">Week</button>

  <button
    class="text-sm px-4 py-2 rounded-md no-underline{{ if eq .Time "thirty-days" }} text-blue-900 bg-blue-800 dark:bg-blue-300{{ else }} bg-gray-200 text-gray-800 dark:bg-gray-800 dark:text-gray-300{{ end }}"
    data-time="thirty-days"
    onclick="updateTime('thirty-days')">30 days</button>

  <button
    class="text-sm px-4 py-2 rounded-md no-underline{{ if eq .Time "this-year" }} text-blue-900 bg-blue-800 dark:bg-blue-300{{ else }} bg-gray-200 text-gray-800 dark:bg-gray-800 dark:text-gray-300{{ end }}"
    data-time="this-year"
    onclick="updateTime('this-year')">This year</button>

  <button
    class="text-sm px-4 py-2 rounded-md no-underline{{ if eq .Time "cumulative" }} text-blue-900 bg-blue-800 dark:bg-blue-300{{ else }} bg-gray-200 text-gray-800 dark:bg-gray-800 dark:text-gray-300{{ end }}"
    data-time="cumulative"
    onclick="updateTime('cumulative')">Cumulative</button>
</div>

<hr class="my-8" />

<div class="mb-10 grid grid-cols-1 gap-8 sm:grid-cols-2 items-start">
  <div class="text-center text-8xl font-bold space-y-8">
    <div>
      <span hx-get="/stats/total-views" hx-trigger="load, update-time from:body" hx-vals="js:{ time: time }" hx-swap="innerHTML transition:true">
        {{ .Count }}
      </span>
      <div
        class="mt-2 text-sm font-normal uppercase text-gray-600 dark:text-gray-700"
      >
        Total views
      </div>
    </div>
    <div>
      {{ .ViewsPerDay }}
      <div
        class="mt-2 text-sm font-normal uppercase text-gray-600 dark:text-gray-700"
      >
        Views per day (average)
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-y-4">
    <div>
      <h3 class="mb-2 font-semibold uppercase text-gray-500">Browsers</h3>
      <div hx-get="/stats/browsers" hx-trigger="load, update-time from:body" hx-swap="innerHTML transition:true" hx-vals="js:{ time: time }"></div>
    </div>

    <div>
      <h3 class="mb-2 font-semibold uppercase text-gray-500">OS</h3>
      <div hx-get="/stats/os" hx-trigger="load, update-time from:body" hx-swap="innerHTML transition:true" hx-vals="js:{ time: time }"></div>
    </div>

    <div class="text-xs text-gray-700 text-right">
      This only displays the top five in each category.<br />
      Also, {{ .Bots}} bots are not included.
    </div>
  </div>
</div>

<h3 class="font-semibold uppercase text-gray-500">Post views</h3>
<div class="mb-10 hidden sm:block" hx-get="/stats/chart" hx-trigger="load, update-time from:body" hx-swap="innerHTML transition:true" hx-vals="js:{ time: time }"></div>
<h3 class="font-semibold uppercase text-gray-500">Week Heatmap</h3>
<div class="hidden sm:block" hx-get="/stats/heatmap" hx-trigger="load"></div>
<h3 class="font-semibold uppercase text-gray-500">Posts created</h3>
<div class="mb-10 hidden sm:block" hx-get="/stats/posts" hx-trigger="load"></div>

<div class="mb-10" hx-preserve id="total-views">
  <h3 class="mb-4 font-semibold uppercase text-gray-500">Most viewed</h3>
  <div hx-trigger="load" hx-get="/stats/most-viewed"></div>
</div>

<div class="mb-10" hx-preserve id="most-viewed-today">
  <h3 class="mb-4 font-semibold uppercase text-gray-500">Most viewed today</h3>
  <div
    hx-trigger="load"
    hx-get="/stats/most-viewed-today"
    hx-swap="outerHTML"
  ></div>
</div>

<script>
  var time = {{ .Time }}

  function updateTime(interval) {
    const url = new URL(window.location.href)

    url.searchParams.set('time', interval)
    time = interval

    window.history.pushState({}, '', url)

    document.body.dispatchEvent(new Event('update-time'))
    updateClasses()
  }

  function updateClasses() {
    [...document.querySelectorAll('[data-time]')].forEach(el => {
      const t = el.dataset.time

      if (t === time) {
        el.classList.add('text-blue-900', 'bg-blue-800', 'dark:bg-blue-300')
        el.classList.remove('bg-gray-200', 'text-gray-800', 'dark:bg-gray-800', 'dark:text-gray-300')
      } else {
        el.classList.add('bg-gray-200', 'text-gray-800', 'dark:bg-gray-800', 'dark:text-gray-300')
        el.classList.remove('text-blue-900', 'bg-blue-800', 'dark:bg-blue-300')
      }
    })
  }

  updateClasses()
</script>
